:root {
	--rojo: rgb(255,255,255);
	--fondo: rgb(9,11,19);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Bowlby One SC', cursive;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bowlby One SC', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a {
	font-family: 'Bowlby One SC', cursive !important;
	color: rgb(249,249,249);
	text-decoration: none;
	margin-right: 30px;
}

header nav a:hover,
header nav a.activo {
	color: rgb(8,162,200);
}



/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop1.jpg.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}



/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo{
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
}













h1 {
    text-align: center;
  }
  
  .carrusel1 {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .carrusel1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 1030px;
    scroll-behavior: smooth;
  }
  
  .carrusel-fotos1 {
    display: flex;
    gap: 10px;
    overflow: auto;
  }
  
  .carrusel-fotos1 img {
    background: rgb(9,11,19);
    border: 4px solid rgb(9,11,19);
    width: 300px;
    height: 200px;
    object-fit: contain;
  }
  
  .carrusel-menu1 {
    display: none;
  }
  
  @media screen and (min-width: 500px) {
    .carrusel-fotos1 {
      overflow: hidden;
    }
  
    .carrusel-fotos1 img {
      width: 500px;
      height: 400px;
    }
    .carrusel-menu1 {
      display: block;
    }
    .carrusel-menu1 img {
      box-sizing: border-box;
      width: 50px;
      height: 40px;
      border: 10px solid rgb(9,11,19);
    }
    .carrusel-menu1 img:hover {
      border: none;
    }
  }
  
  p {
    text-align: center;
  }



















  h1 {
    text-align: center;
  }
  
  .carrusel2 {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .carrusel2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 1030px;
    scroll-behavior: smooth;
  }
  
  .carrusel-fotos2 {
    display: flex;
    gap: 10px;
    overflow: auto;
  }
  
  .carrusel-fotos2 img {
    background: rgb(9,11,19);
    border: 4px solid rgb(9,11,19);
    width: 300px;
    height: 200px;
    object-fit: contain;
  }
  
  .carrusel-menu2 {
    display: none;
  }
  
  @media screen and (min-width: 500px) {
    .carrusel-fotos2 {
      overflow: hidden;
    }
  
    .carrusel-fotos2 img {
      width: 500px;
      height: 400px;
    }
    .carrusel-menu2 {
      display: block;
    }
    .carrusel-menu2 img {
      box-sizing: border-box;
      width: 50px;
      height: 40px;
      border: 10px solid rgb(9,11,19);
    }
    .carrusel-menu2 img:hover {
      border: none;
    }
  }
  
  p {
    text-align: center;
  }





